/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:rgb(102, 102, 159);
}

.header{
    display: grid;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 53px;
    background-color: rgba(205, 221, 143, 0.311);
}

.hh{
    /* column-span: all;
    display: block;
    justify-content: center;
    align-items: center; */

    display: grid;
    justify-content: center;
    align-items: center;
}

.about{
    columns: 100px 2;
    column-gap: 10px;
    padding: 20px;
    margin: 53px;
    border: 50px;
    background-color: rgba(245, 189, 189, 0.626);
    /* display: flex; */
    
    /* justify-items: right; */

    /* text-align: right; */

    /* float: right; */
}

.education{
    columns: 200px 2;
    column-gap: 30px;
    padding: 20px;
    margin: 53px;
    background-color: rgba(245, 189, 189, 0.626);
}
.ee{
    display: grid;
    justify-content: center;
    align-items: center;
}

.cc{
    display: grid;
    justify-content: center;
    align-items: center;
}

.contact{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 189, 189, 0.626);
    padding: 20px;
    margin: 53px;
}